/* -------------------General------------------- */
* {
    margin: 0;
    box-sizing: border-box;
}

text { font-family: "Calibri Light", sans-serif; }

body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 100%;
}
button {
    background: lightgray;
    color: black;
    border: solid black 1px;
}
button:hover {background-color: rgba(0, 100, 50, 1);}

#drop_zone {
    border: 5px solid blue;
    width: 200px;
    height: 100px;
}

/* -------------------Header------------------- */
header {
    display: flex;
    align-items: center;
    background-color: darkslategrey;
    padding: 5px;
    gap: 5px; /* Gap between buttons */
    position: fixed;
    z-index: 2; /* Determines how elements layer on top of each other. Larger number goes on top of smaller */
    width: 100%;
    top:0;
}
.menuButton {
    border-radius: 5px;
    text-align: center;
    width: 60px;
    height: 40px;
    font-size: 14px;
}
.menuTextField {
    border-radius: 5px;
    text-align: center;
    height: 35px;
    width: 75px;
}
h3 { /* Used for the sheet name text */
    color: white;
    margin-left: auto;
    margin-right: 5px;
}

/* -------------------Article------------------- */
article {
    margin-top: 50px; /* Space between table and header */
    margin-bottom: 19px; /* Space between table and footer */
}
table {
    border-collapse: collapse;
    font-family: "Calibri Light", sans-serif;
    position: static;
    overflow: scroll;
    width: max-content;
}
th {
    color: white;
    background-color: grey;
    border: solid black 1px;
}
/* Overflow disabled for now in favour of line break */
td {
    line-break: anywhere;
    text-align: left;
    border: solid 1px;
    background-color: lightgray;
    padding: 3px;
    position: static;
    /* max-width: 50px;  Needed for overflow to work
    overflow: clip; */
}
.columnHeader {
    width: 70px;
    top:49px; /* Needed to stay below header when scrolling */
    position: sticky;
    z-index: 1;
}
.rowHeader {
    width: 45px;
    height: 25px;
    position: sticky;
    z-index: 1;
    left: -1px;
}

/* -------------------Footer------------------- */
footer {
    display: flex;
    column-gap: 0;
    background-color: darkslategrey;
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
}

.sheetTabButton {
    height: 20px;
    width: 60px;
}
.addSheetButton {
    height: 20px;
    width: 40px;
    border-bottom-right-radius: 10px;
}
