* {
    scrollbar-width: none;
    margin: 0;
    white-space: normal;
    font-family: Arial, sans-serif;
}
*::-webkit-scrollbar {
    display: none;
}
button {
    background: #4a7e76;
    color: white;
    border: none;
    border-radius: 6px;
}
button:hover {background-color: #243d3d; !important;}


/* ------------------------------------------ */
header {
    display: flex;
    align-items: center;
    column-gap: 20px;
    background-color: darkslategrey;
    position: fixed;
    z-index: 5;
    top: 0;
    height: 46px;
    width: 100%;
    padding-left: 5px;
    border-bottom: 1px solid grey;
}

header button {
    height: 30px;
    width: 65px;
    padding-top: 2px;
    font-size: 16px;
}

input.menuTextField {
    margin-left: -35px;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
}

input.formulaBox {
    height: 25px;
    width: 500px;
    border-radius: 5px;
    text-align: center;
}

header h4 {
    margin-right: 10px;
    margin-left: auto;
    color: white;
}

.styleButton {
    font-size: 16px;
    width: 40px;
}

#bold {
    font-weight: bold;
}
#italic {
    font-style: italic;
    font-family: "Times New Roman", serif;
    margin-left: -15px;
    margin-right: -15px;
}
#underline {
    text-decoration: underline;
    margin-right: 15px;
}

#cellColor, #textColor {
    height: 30px;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 1px;
    background: #4a7e76;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 0;
    margin-left: -15px;
    border-radius: 6px;
}
.color {
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    height: 30px;
}
/* Needed to round corners of color pickers */
.color::-webkit-color-swatch {
    border-radius: 4px;
}
.color::-moz-color-swatch {
    border-radius: 4px;
}

#drop_zone {
    border: 5px solid blue;
    width: 200px;
    height: 100px;
}


/* ------------------------------------------ */
#root {
    margin-top: 46px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#headerCorner {
    background: #3b3b3b;
    border: 1px solid grey;
    z-index: 3;
}

#columnHeaders {
    background-color: #3b3b3b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    outline: 1px solid grey;
    z-index: 2;
    overflow: hidden;
}

#rowHeaders {
    background-color: #3b3b3b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 2;
    outline: 1px solid grey;
    overflow: hidden;
}

#gridBody {
    display: flex;
    scrollbar-width: auto; !important; /* Doesn't work */
}

#gridBody::-webkit-scrollbar {
    display: block !important; /* Doesn't work */
}

.Cell {
    display: flex;
    align-items: center;
    justify-content: start;
    border: grey 1px solid;
    font-size: small;
    text-indent: 5px;
    z-index: 1;
}

[contenteditable="true"] {
    display: flex;
    vertical-align: middle;
    line-height: normal;
    align-items: center;
    justify-content: start;
}

.active-cell {
    background-color: rgba(124, 185, 232, 0.44) !important;
    outline: 2px solid #007bff !important;
    outline-offset: -2px;
    z-index: 2;
}

.support-cell {
    /*background-color: #32de84 !important;*/
    outline: 3px groove #03C03C !important;
    outline-offset: -2px;
    z-index: 2;
}

.selected-cell {
    background-color: rgba(173, 216, 230, 0.5) !important;
    border: 1px solid rgb(70, 130, 180) !important;
}

.hide-caret {
    caret-color: transparent !important;
}

.show-caret {
    caret-color: black;
}

/* ------------------------------------------ */
footer {
    height: 27px;
    width: 100%;
    display: flex;
    align-items: start;
    padding-left: 40px;
    background-color: darkslategrey;
    position: fixed;
    bottom: 0;
    z-index: 2;
    border-top: none;
}

footer button {
    height: 23px;
    width: 79px;
    cursor: pointer;
    border-radius: 0 0 6px 6px;
    font-weight: bold;
}

#createSheetButton {
    width: 50px;
    font-size: 18px;
}