body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    /*padding: 20px;*/
}

.sticky-grid {
    border: 1px solid #ddd;
}

.header-cell {
    font-weight: bold;
    color: #333;
}

.corner-cell {
    font-weight: bold;
    color: #333;
}

.cell {
    background-color: white;
    box-sizing: border-box;
}
